{% extends 'base.html.twig' %}
 
{% block title %}New password{% endblock %}
 
{% block body %}
<h1>Reset password</h1>
<p>Please enter your new password below</p>
<form method="post">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" placeholder="Password" required>
    <input type="hidden" name="token" value="{{ token }}">
    <button type="submit" id="valider">
        Submit password
    </button>   
</form>
{% endblock %}